#App {
  width: 100%;
  height: 100vh;
  max-width: 480px;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
  word-break: keep-all;
  /* font-family: 'Noto Sans KR', sans-serif; */
  border: 1px solid red;
  box-sizing: border-box;
}

:root {
  --primary-color: #379237;
  --secondary-color: #215D20;
  --unselected-color: #808080;
  --secondary-unselected-color: #E6E6E6;
  --error-color: #EF3B3B;
  --select-color: #2260FF
}
